.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}

.b-example-divider {
width: 100%;
height: 3rem;
background-color: rgba(0, 0, 0, .1);
border: solid rgba(0, 0, 0, .15);
border-width: 1px 0;
box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
flex-shrink: 0;
width: 1.5rem;
height: 100vh;
}

.bi {
vertical-align: -.125em;
fill: currentColor;
}

.nav-scroller {
position: relative;
z-index: 2;
height: 2.75rem;
overflow-y: hidden;
}

.nav-scroller .nav {
display: flex;
flex-wrap: nowrap;
padding-bottom: 1rem;
margin-top: -1px;
overflow-x: auto;
text-align: center;
white-space: nowrap;
-webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
--bd-violet-bg: #712cf9;
--bd-violet-rgb: 112.520718, 44.062154, 249.437846;

--bs-btn-font-weight: 600;
--bs-btn-color: var(--bs-white);
--bs-btn-bg: var(--bd-violet-bg);
--bs-btn-border-color: var(--bd-violet-bg);
--bs-btn-hover-color: var(--bs-white);
--bs-btn-hover-bg: #6528e0;
--bs-btn-hover-border-color: #6528e0;
--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
--bs-btn-active-color: var(--bs-btn-hover-color);
--bs-btn-active-bg: #5a23c8;
--bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
z-index: 1500;
}

#light_switch_container {
    margin: 0 !important;
}

.light-switch-list-item {
    margin-right: 3rem;
}

.navbar-brand {
    margin-top: 8px;
    font-size: 1rem;
}

#light-switch-label {
    margin-left: 0.2rem !important;
}

.btn-outline-danger {
    margin-top: 1rem;
}

.text-body-secondary {
    margin-left: 0.5rem;
}

#add_habit {
    padding-left: 0.5rem;
}

.new_habit_container {
    padding-top: 2rem;
}

.trash {
    margin: 0;
    margin-left: 1rem !important;
}

.list-group {
    width: 100%;
    max-width: 360px;
    margin-inline: 1.5rem;
    border-radius: .5rem !important;
  }
  
.list-group-item {
    cursor: pointer;
    border-radius: .5rem !important;
  }

.habit-options {
    margin: 1px;
}

#new_habit_input {
    border: 1px solid;
    border-radius: 0.5rem;
    border-color: #6c757d;
    padding: 0.9rem;
}

#new_habit_button {
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.9rem;
}

.habits-container {
    margin-top: 0.5rem;
}

#register_instead {
    margin-top: 2rem;
}

.dropdown-item {
    padding: 0.5rem;
    z-index: 9999;
}

.dropdown-menu {
    width: 301px;
    z-index: 9999;
}

#trash-dropdown {
    color: #dc3545;
}

.input-group {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.confirmation-footer {
    border: none;
    display: block;
    align-items: center !important;
}

#rename_input {
    border-radius: 0.5rem;;
}

.modal-body {
    padding-top: 2.5rem;
}

/* Calendar */

.dropdown-item-danger {
    color: var(--bs-red);
  }
  .dropdown-item-danger:hover,
  .dropdown-item-danger:focus {
    color: #fff;
    background-color: var(--bs-red);
  }
  .dropdown-item-danger.active {
    background-color: var(--bs-red);
  }
  
  .btn-hover-light {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
  }
  .btn-hover-light:hover,
  .btn-hover-light:focus {
    color: var(--bs-link-hover-color);
    background-color: var(--bs-tertiary-bg);
  }
  
  .cal-month,
  .cal-days,
  .cal-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
  }
  .cal-month-name {
    grid-column-start: 2;
    grid-column-end: 7;
    text-align: center;
  }
  .cal-weekday,
  .cal-btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0;
  }
  .cal-btn:not([disabled]) {
    font-weight: 500;
    color: var(--bs-emphasis-color);
  }
  .cal-btn:hover,
  .cal-btn:focus {
    background-color: var(--bs-secondary-bg);
  }
  .cal-btn[disabled] {
    border: 0;
    opacity: .5;
  }
  
  .w-220px {
    width: 220px;
  }
  
  .w-280px {
    width: 280px;
  }
  
  .w-340px {
    width: 340px;
  }
  
  .opacity-10 {
    opacity: .1;
  }
  
  /* Svgs */

/* Style for screens smaller than 800px */
@media (max-width: 900px) {
  /* Make the main container a flex column */
  .main_container_dashboard {
    flex-direction: column;
  }
  /* Recude padding for all divs inside "change_entries" */
  .p-4 {
    padding: 0.2rem !important;
  }
}

.main_container_dashboard span {
    font-size: 1.3rem;
    font-weight: 500;
}

.done {
  color: #198754;
}

.missed {
  color: #dc3545;
}

.empty {
  color: #6c757d;
}

.button_done {
  border: 3px solid #198754;
  border-radius: 50%;
}

.button_missed {
  border: 3px solid #dc3545;
  border-radius: 50%;
}

.selected {
  border: 3px solid #b3b6bd;
  border-radius: 50%;
}

#div_container_password_requirements {
  display: flex;
  justify-content: center;
  align-items: center;
}

#div_password_requirements {
  padding-left: 1.1rem;
  margin-top: 2rem;
  width: 225px;
  text-align: left;
}

#ul_password_requirements {
  list-style-type: circle;
  padding-left: 0;
  font-size: 0.9rem;
  text-align: left;
}

#done_or_missed {
  display: flex;
  justify-content: space-around;
}

.done_or_missed_button {
  width: 100px;
}

.no_decoration {
  list-style-type: none;;
}

.streak {
  font-size: 2rem;
}

ul {
  padding-left: 0;
}

.width_33{
  width: 33.3333%;
}

.main_container_dashboard {
  margin-top: 5rem;
  z-index: 0;
}