{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
<h1>
    {{ habit }}
</h1>

<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="dropdown-menu d-block position-static p-2 mx-0 shadow rounded-3 w-340px" data-bs-theme="auto">
        <div class="d-grid gap-1">
            <div class="cal">
                <div class="cal-month">
                    <button class="btn cal-btn" type="button">
                        <svg class="bi" width="16" height="16"><use xlink:href="#arrow-left-short"/></svg>
                    </button>
                    <strong class="cal-month-name" id="cal-month-name">August</strong>
                    <select class="form-select cal-month-name d-none">
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option selected value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                    <button class="btn cal-btn" type="button">
                        <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-short"/></svg>
                    </button>
                </div>
                    <div class="cal-weekdays text-body-secondary">
                    <div class="cal-weekday">Sun</div>
                    <div class="cal-weekday">Mon</div>
                    <div class="cal-weekday">Tue</div>
                    <div class="cal-weekday">Wed</div>
                    <div class="cal-weekday">Thu</div>
                    <div class="cal-weekday">Fri</div>
                    <div class="cal-weekday">Sat</div>
                </div>
                <div class="cal-days">
                    <button class="btn cal-btn" disabled type="button">30</button>
                    <button class="btn cal-btn" disabled type="button">31</button>
            
                    <button class="btn cal-btn" type="button">1</button>
                    <button class="btn cal-btn" type="button">2</button>
                    <button class="btn cal-btn" type="button">3</button>
                    <button class="btn cal-btn" type="button">4</button>
                    <button class="btn cal-btn" type="button">5</button>
                    <button class="btn cal-btn" type="button">6</button>
                    <button class="btn cal-btn" type="button">7</button>
            
                    <button class="btn cal-btn" type="button">8</button>
                    <button class="btn cal-btn" type="button">9</button>
                    <button class="btn cal-btn" type="button">10</button>
                    <button class="btn cal-btn" type="button">11</button>
                    <button class="btn cal-btn" type="button">12</button>
                    <button class="btn cal-btn" type="button">13</button>
                    <button class="btn cal-btn" type="button">14</button>
            
                    <button class="btn cal-btn" type="button">15</button>
                    <button class="btn cal-btn" type="button">16</button>
                    <button class="btn cal-btn" type="button">17</button>
                    <button class="btn cal-btn" type="button">18</button>
                    <button class="btn cal-btn" type="button">19</button>
                    <button class="btn cal-btn" type="button">20</button>
                    <button class="btn cal-btn" type="button">21</button>
            
                    <button class="btn cal-btn" type="button">22</button>
                    <button class="btn cal-btn" type="button">23</button>
                    <button class="btn cal-btn" type="button">24</button>
                    <button class="btn cal-btn" type="button">25</button>
                    <button class="btn cal-btn" type="button">26</button>
                    <button class="btn cal-btn" type="button">27</button>
                    <button class="btn cal-btn" type="button">28</button>
            
                    <button class="btn cal-btn" type="button">29</button>
                    <button class="btn cal-btn" type="button">30</button>
                    <button class="btn cal-btn" type="button">31</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div id="current-date">
        <h3>Date:</h3>
        <span>{{ stringDate }}</span>
    </div>
    <div id="current-entry">
        <h3>Current entry:</h3>
        <span>{{ currentEntry }}</span>
    </div>
    <div id="data">
    </div>
    <div>
        <h3>Change to:</h3>
    </div>
    <button class="btn btn-success rounded-pill px-3" type="button">
        Done
    </button>
    <button class="btn btn-secondary rounded-pill px-3" type="button">
        Empty
    </button>
    <button class="btn btn-danger rounded-pill px-3" type="button">
        Missed
    </button>
</div>

<!-- Calendar -->
<script>
    // Calendar
    const monthNames = [
        "January", "February", "March",
        "April", "May", "June", "July",
        "August", "September", "October",
        "November", "December"
      ];
    
    // Calendar buttons
    const prevMonthBtn = document.querySelector('.cal-btn:first-of-type');
    const nextMonthBtn = document.querySelector('.cal-btn:last-of-type');
    const monthNameSpan = document.querySelector('.cal-month-name');
    const weekdaysDiv = document.querySelector('.cal-weekdays');
    const daysDiv = document.querySelector('.cal-days');

    // Calendar functions
    let currentDate = new Date();
    let currentMonth = currentDate.getMonth();
    let currentYear = currentDate.getFullYear();
    

    function daysInMonth(month, year) {
    return new Date(year, month + 1, 0).getDate();
    }
    
    function getFirstDayOfMonth(month, year) {
    return new Date(year, month, 1).getDay();
    }
    
    // Calendar update
    function updateCalendar() {
        monthNameSpan.textContent = monthNames[currentMonth] + " " + currentYear;
        weekdaysDiv.innerHTML = '';
        daysDiv.innerHTML = '';
        for (let i = 0; i < 7; i++) {
            const weekdayDiv = document.createElement('div');
            weekdayDiv.classList.add('cal-weekday');
            weekdayDiv.textContent = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'][i];
            weekdaysDiv.appendChild(weekdayDiv);
        }

        const firstDayOfMonth = getFirstDayOfMonth(currentMonth, currentYear);
        for (let i = 0; i < firstDayOfMonth; i++) {
            const emptyDayBtn = document.createElement('button');
            emptyDayBtn.classList.add('btn', 'cal-btn', 'invisible');
            daysDiv.appendChild(emptyDayBtn);
        }

        const daysInCurrentMonth = daysInMonth(currentMonth, currentYear);
        for (let i = 1; i <= daysInCurrentMonth; i++) {
            const dayBtn = document.createElement('button');
            dayBtn.classList.add('btn', 'cal-btn');
            dayBtn.textContent = i;
            daysDiv.appendChild(dayBtn);
        }
    
        // Add a click event listener to each of the day buttons
        const dayButtons = daysDiv.querySelectorAll('button');
        dayButtons.forEach(button => {
            button.addEventListener('click', () => {
            const day = button.textContent;
            const monthIndex = currentMonth;
            const year = currentYear;
            const selectedDate = new Date(year, monthIndex, day);
            
            // Format the date
            const newDate = new Date(selectedDate);
            const newYear = newDate.getFullYear();
            const newMonth = String(newDate.getMonth() + 1).padStart(2, '0');
            const newDay = String(newDate.getDate()).padStart(2, '0');
            const formattedDate = `${newYear}-${newMonth}-${newDay}`;

            if (formattedDate) {

                // Update the date
                const currentDateDiv = document.getElementById('current-date');
                const dateSpan = currentDateDiv.querySelector('span');

                // Send the selected date to the Flask backend using AJAX
                const xhr = new XMLHttpRequest();
                const url = '/dashboard';
                const data = formattedDate;
                xhr.open('POST', url, true);
                xhr.setRequestHeader('Content-Type', 'text/plain');
                xhr.onload = function() {
                  if (xhr.status === 200) {
                    dateSpan.textContent = formattedDate;
                    console.log('Date processed successfully');
                  } else {
                    console.log('Error processing date');
                  }
                };
                console.log(data)
                xhr.send(data);
              }
            });
          });
    }
    
    // Add event listeners to the prev and next month buttons
    prevMonthBtn.addEventListener('click', () => {
        currentMonth--;
        if (currentMonth < 0) {
            currentMonth = 11;
            currentYear--;
        }
        updateCalendar();
    });
    
    nextMonthBtn.addEventListener('click', () => {
        currentMonth++;
        if (currentMonth > 11) {
            currentMonth = 0;
            currentYear++;
        }
        updateCalendar();
    });
    
    updateCalendar();
</script>

<!-- Update current entry -->
<script>
    const dataElement = document.getElementById('data');
    const eventSource = new EventSource('/data');
    eventSource.onmessage = function(event) {
        dataElement.innerHTML = event.data;
    }
</script>
{% endblock %}