{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" required type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Password confirmation" required type="password">
        </div>
        <button class="btn btn-primary" type="submit">Come in Homie</button>
    </form>


{% endblock %}